@import './../simple-homepage.module.scss';

.header {
  height: $header-height;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: cadetblue;
  // position: absolute;
  opacity: .5;


  &Logo {
    height: 100%;
    aspect-ratio: 1;
  }

  &Buttons {
    display: flex;
  }
}