@use '@styles'as styles;

.about {
  @include styles.text-large;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: min-content;
  gap: 128px;

  >.content {
    @include styles.page-padding-vertical;
    scroll-snap-align: start;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - styles.$height-nav-bar);

    .twoColumns {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: space-between;
      gap: 50px;
      overflow: hidden;

      .left,
      .right {
        position: relative;
        min-height: 100%;
      }

      .left {
        position: relative;
        display: flex;
        flex-direction: column;
        flex: 20;
        width: 100%;
      }

      .right {
        flex-basis: 45%;
        // min-width: 45%;
        flex-grow: 0;
        flex-shrink: 1;
      }
    }

  }
}

.aboutMe {
  .flex {
    align-items: flex-start;

    .left {
      gap: 32px;

      .title {
        width: 100%;
      }

      .blurb {
        width: 100%;
      }

      .socials {
        display: flex;
        flex-direction: row;
        gap: 32px;

        .icon {
          width: 72px;
          height: 72px;
        }
      }
    }

    .right {
      .border {


        &Content {
          display: flex;
          flex-direction: column;
        }

        .viewer {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 32px 0px;

          .avatar {
            width: 80%;
            aspect-ratio: 1;

            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            background-blend-mode: multiply;
          }
        }

        .divider {
          position: relative;
        }


        .tags {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          gap: 32px;
          padding: 8px 8px;

          .tag {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;

            .iconWrapper {
              display: flex;
              align-items: center;
              justify-content: center;

              .icon {
                height: 20px;
                width: 20px;

                svg,
                path {
                  fill: styles.$accent-primary;
                  fill: var(--accent-primary);
                }
              }
            }

            .text {
              white-space: nowrap;
            }
          }
        }

        .values {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 16px;

          .sliders {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 10px;
          }
        }
      }
    }
  }

}

.mapViewer {
  .flex {
    align-items: center;
  }
}

.statTracker {
  height: 100%;
  min-width: 100%;
  height: 28px;

  display: grid;
  grid-template-columns: 1.6fr 1fr;
  grid-gap: 10px;


  .tracker {
    position: relative;
    transform: rotate(180deg);

    &Content {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      padding: 7px;
    }

    .track {
      height: 100%;
      max-width: 100%;
      width: 100%;
      overflow: hidden;
      border-radius: 16px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 4px;
    }

    .block {
      transform-origin: left; // needed for framer
      width: 100%;
      height: 100%;
      background-color: styles.$foreground-quaternary;
      background-color: var(--foreground-quaternary);

      &Active {
        background-color: styles.$accent-primary;
        background-color: var(--accent-primary);
      }
    }
  }

  .label {
    height: 100%;
    display: flex;
    align-items: center;

    h4 {
      font-size: 1.3rem;
      white-space: nowrap;
    }
  }
}

@mixin handheldSize {
  gap: 32px;

  p {
    font-size: 1.1rem;
  }

  >.content {
    scroll-snap-align: none;
    display: flex;
    align-items: start;
    min-height: unset;
    padding: 48px 0px;

    >.twoColumns {
      gap: 32px;
    }
  }

  .aboutMe {
    h3 {
      font-size: 1.7rem;
    }

    .flex {
      .left {
        gap: 16px;

        .title {
          h1 {
            font-size: 2.8rem;
          }
        }

        .socials {
          margin-top: 32px;

          .icon {
            width: 64px;
            height: 64px;
          }
        }
      }

      .right {
        flex-basis: 42%;

        .border {
          .viewer {

            height: 200px;

            .avatar {
              width: 60%;
            }
          }

          .tags {
            flex-direction: column;
            width: min-content;
            align-items: center;
            width: 100%;
            gap: 8px;
            padding: 12px;

            .tag {
              .iconWrapper {
                .icon {
                  width: 20px;
                  height: 20px;
                }
              }

              .text {
                font-size: .8rem;
              }
            }
          }

          .values {
            width: 100%;
          }
        }
      }
    }
  }

  .statTracker {
    grid-template-columns: 1.1fr 1fr;

    .tracker {
      .track {
        gap: 2px;
      }
    }

    .label {
      h4 {
        font-size: 0.9rem;
      }
    }
  }

  .mapViewer {
    .flex {
      .left {
        flex-basis: 70%;
      }
    }
  }

}

.handheld {
  @include handheldSize;
}

@media (max-width: styles.$width-medium) {
  .fullscreen {
    p {
      font-size: 1.2rem;
    }
  }

  .fullscreen {

    .aboutMe {
      .flex {
        .left {
          .title {
            h1 {
              font-size: 3.5rem;
            }
          }

          .socials {
            .icon {
              width: 64px;
              height: 64px;
            }
          }
        }

        .right {
          .border {
            .tags {
              gap: 16px;

              .tag {
                .iconWrapper {
                  .icon {
                    height: 20px;
                    width: 20px;
                  }
                }

                .text {
                  font-size: 1.1rem;
                }
              }
            }
          }
        }
      }
    }

    .statTracker {
      .tracker {

        .track {
          gap: 3px
        }
      }

      .label {
        h4 {
          font-size: 1rem;
        }
      }
    }
  }
}


@media (max-width: styles.$width-small) {
  .fullscreen {
    p {
      font-size: 1.1rem;
    }

  }

  .fullscreen {

    .aboutMe {
      h3 {
        font-size: 1.7rem;
      }

      .flex {
        .left {
          .title {
            h1 {
              font-size: 2.8rem;
            }
          }

          .socials {
            .icon {
              width: 64px;
              height: 64px;
            }
          }
        }

        .right {
          flex-basis: 38%;

          .border {

            &Content {
              display: flex;
              flex-direction: column;
              align-items: center;
            }

            .tags {
              flex-direction: column;
              width: min-content;
              align-items: flex-start;
              gap: 16px;
              padding: 16px;


              .tag {
                .iconWrapper {
                  .icon {
                    height: 20px;
                    width: 20px;
                  }
                }

                .text {
                  font-size: 1.1rem;
                }
              }
            }

            .values {
              width: 100%;
            }
          }
        }
      }
    }

    .statTracker {
      grid-template-columns: 1fr 1.1fr;
    }

    .mapViewer {
      .flex {
        gap: 16px;

        .left {
          flex-basis: 60%;
        }
      }
    }

  }
}


@media (max-width: styles.$width-mobile-large) {
  .fullscreen {
    p {
      font-size: 1.1rem;
    }


    .aboutMe {

      .flex {
        flex-direction: column;

        .left {
          gap: 16px;

          .title {
            h1 {
              font-size: 4rem;
            }

            h3 {
              font-size: 2rem;
            }
          }

          .socials {
            margin-top: 24px;

            .icon {
              width: 64px;
              height: 64px;
            }
          }
        }

        .right {
          width: 100%;

          .border {

            &Content {
              flex-direction: row;
              position: relative;
              height: min-content
            }

            .viewer {
              width: unset;
              position: relative;
              flex-shrink: 2;
              height: 100%;
              aspect-ratio: 1;
            }

            .tags {
              flex: 1;
              flex-direction: column;
              width: min-content;
              align-items: flex-start;
              gap: 16px;
              padding: 16px;


              .tag {
                .iconWrapper {
                  .icon {
                    height: 20px;
                    width: 20px;
                  }
                }

                .text {
                  font-size: 1.1rem;
                }
              }
            }

            .values {
              flex-grow: 100;
              width: 100%;
              height: 100%;
              padding: 16px 24px 16px 16px;
              align-items: center;
              justify-content: center;
            }
          }
        }
      }
    }

    .statTracker {
      grid-template-columns: 1fr 1.1fr;

      .tracker {
        order: 1;
      }

      .label {
        justify-content: flex-end;

        h4 {
          font-size: 1.2rem;
        }
      }
    }

    .mapViewer {
      .flex {
        gap: 16px;

        .left {
          flex-basis: 40%;
        }
      }
    }
  }
}

@media (max-width: styles.$width-mobile-medium) {
  .fullscreen {
    .statTracker {
      grid-template-columns: 1.15fr 1fr;

      .label {
        h4 {
          font-size: 1.3rem;
        }
      }
    }

    .mapViewer {
      .flex {
        flex-direction: column-reverse;

        .left {
          flex-basis: 40%;
        }
      }
    }
  }
}




@media (max-width: styles.$width-mobile) {
  .fullscreen {
    >.content {
      scroll-snap-align: none;
    }

    .statTracker {
      grid-template-columns: 1.15fr 1fr;

      .tracker {
        .track {
          gap: 2px;
        }
      }

      .label {
        h4 {
          font-size: 1rem;
        }
      }
    }
  }
}



@media (max-width: styles.$width-tiny) {
  .fullscreen {
    margin-bottom: 5vh;
    gap: 16px;

    >.content {
      height: min-content;
      min-height: unset;
    }

    .aboutMe {
      .flex {
        gap: 24px;

        .left {
          gap: 16px;

          .title {
            h1 {
              font-size: 2.7rem;
            }

            h3 {
              font-size: 1.7rem;
            }
          }

          .socials {
            margin-top: 8px;

            .icon {
              width: 48px;
              height: 48px;
            }
          }
        }

        .right {
          .border {
            &Content {
              flex-direction: column;
            }

            .viewer {
              width: 65%;
            }

            .values {
              .sliders {
                display: flex;
                flex-direction: column;
                align-items: center;
              }
            }
          }
        }
      }

    }

    .statTracker {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: min-content;
      position: relative;
      width: min-content;

      .tracker {
        min-width: 50%;

        .track {
          gap: 2px;
        }
      }

      .label {
        min-width: 90px;

        h4 {
          font-size: 0.8rem;
        }
      }
    }
  }
}