@import '@styles/mixins.module.scss';
@import '@styles/colors.module.scss';
@import '@styles/layout.module.scss';
@import '@styles/typography.module.scss';

.about {
  @include text-large;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: min-content;
  gap: 128px;

  p {
    font-size: 1.6rem;
  }

  h3 {
    font-size: 2.2rem;
  }

  .content {
    scroll-snap-align: start;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - $height-nav-bar);


    .twoColumns {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      gap: 50px;
      overflow: hidden;

      .left,
      .right {
        position: relative;
        min-height: 100%;
      }

      .left {
        position: relative;
        display: flex;
        flex-direction: column;
        flex: 20;
        width: 100%;
      }

      .right {
        flex-basis: 45%;
        // min-width: 45%;
        flex-grow: 0;
        flex-shrink: 1;
      }
    }

  }



  .map {}

}

.aboutMe {
  .flex {
    .left {
      gap: 32px;

      .title {
        width: 100%;
      }

      .blurb {
        width: 100%;
      }

      .socials {
        display: flex;
        flex-direction: row;
        gap: 32px;

        .icon {
          width: 72px;
          height: 72px;
        }
      }
    }

    .right {
      .border {
        .viewer {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 32px 0px;

          .avatar {
            width: 80%;
            aspect-ratio: 1;

            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            background-blend-mode: multiply;
            filter: sepia(100) hue-rotate(100deg) saturate(2);
          }
        }

        .divider {
          position: relative;
        }


        .tags {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          gap: 32px;
          padding: 8px 8px;

          .tag {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;

            .iconWrapper {
              display: flex;
              align-items: center;
              justify-content: center;

              .icon {
                height: 20px;
                width: 20px;

                svg,
                path {
                  fill: $foreground-primary
                }
              }
            }

            .text {
              white-space: nowrap;
            }
          }
        }

        .values {
          display: flex;
          flex-direction: column;
          padding: 16px;
          gap: 8px;

          .sliders {
            width: min-content;
            display: flex;
            flex-direction: column;
          }
        }
      }
    }
  }

}

.mapViewer {
  .flex {
    align-items: center !important;
  }
}

.statTracker {
  height: 100%;
  width: 100%;
  display: flex;
  gap: 12px;
  height: 28px;


  .tracker {
    position: relative;
    width: 50%;
    transform: rotate(180deg);

    &Content {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      padding: 7px;
    }

    .track {
      height: 100%;
      max-width: 100%;
      width: 100%;
      overflow: hidden;
      border-radius: 16px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 4px;
    }

    .block {
      transform-origin: left; // needed for framer
      width: 100%;
      height: 100%;
      background-color: $background-primary;

      &Active {
        background-color: $foreground-primary;
      }
    }
  }

  .label {
    height: 100%;
    font-size: 1.3rem;
  }
}

@media (max-width: $width-medium) {
  .about {
    p {
      font-size: 1.2rem;
    }

    .twoColumns {}

    .aboutMe {
      .flex {
        .left {
          .title {
            h1 {
              font-size: 3.5rem;
            }
          }

          .socials {
            .icon {
              width: 64px;
              height: 64px;
            }
          }
        }

        .right {
          .border {
            .tags {
              gap: 16px;

              .tag {
                .iconWrapper {
                  .icon {
                    height: 20px;
                    width: 20px;
                  }
                }

                .text {
                  font-size: 1.1rem;
                }
              }
            }
          }
        }
      }
    }
  }

  .statTracker {
    .tracker {
      width: 40%;

      .track {
        gap: 3px
      }
    }

    .label {
      font-size: 1rem;
    }
  }
}

@media (max-width: $width-small) {
  .about {
    p {
      font-size: 1.1rem;
    }



    .twoColumns {}

    .aboutMe {
      h3 {
        font-size: 1.7rem;
      }

      .flex {
        .left {
          .title {
            h1 {
              font-size: 2.8rem;
            }
          }

          .socials {
            .icon {
              width: 64px;
              height: 64px;
            }
          }
        }

        .right {
          flex-basis: 38%;

          .border {

            &Content {
              display: flex;
              flex-direction: column;
              align-items: center;
            }

            .tags {
              flex-direction: column;
              width: min-content;
              align-items: flex-start;
              gap: 16px;
              padding: 16px;


              .tag {
                .iconWrapper {
                  .icon {
                    height: 20px;
                    width: 20px;
                  }
                }

                .text {
                  font-size: 1.1rem;
                }
              }
            }

            .values {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

@media (max-width: $width-mobile-large) {
  .about {
    p {
      font-size: 1.1rem;
    }


    .aboutMe {

      .flex {
        flex-direction: column;

        .left {
          .title {
            h1 {
              font-size: 2.8rem;
            }
          }

          .socials {
            .icon {
              width: 64px;
              height: 64px;
            }
          }
        }

        .right {
          width: 100%;

          .border {

            &Content {
              flex-direction: row;
              position: relative;
              height: 200px;
            }

            .viewer {
              // width: min-content;
              width: unset;
              position: relative;
              flex-shrink: 2;
              height: 100%;
              aspect-ratio: 1 !important;


              .avatar2 {
                padding: 16px;
                max-height: 100%;
                // aspect-ratio: 1;
              }
            }

            .divider {
              min-height: 100% !important;
              height: 100px !important;
            }

            .tags {
              flex: 1;
              flex-direction: column;
              width: min-content;
              align-items: flex-start;
              gap: 16px;
              padding: 16px;


              .tag {
                .iconWrapper {
                  .icon {
                    height: 20px;
                    width: 20px;
                  }
                }

                .text {
                  font-size: 1.1rem;
                }
              }
            }

            .values {
              flex-grow: 100;
              width: 100%;
              padding: 16px 32px;
            }
          }
        }
      }
    }
  }

  .statTracker {
    .tracker {
      width: 40%;

      .track {
        gap: 3px
      }
    }

    .label {
      font-size: 1rem;
    }
  }
}

// @media (max-width: $width-small) {
//   .about {
//     p {
//       font-size: 1rem;
//     }

//     h3 {
//       font-size: 1.5rem;
//     }

//     .aboutMe {
//       .flex {
//         gap: 16px;

//         .left {
//           .title {
//             h1 {
//               font-size: 2.6rem;
//             }
//           }

//           .socials {
//             .icon {
//               width: 48px;
//               height: 48px;
//             }
//           }
//         }

//         .right {
//           flex-basis: 55%;

//           .border {
//             .tags {
//               gap: 16px;

//               .tag {
//                 .iconWrapper {
//                   .icon {
//                     height: 18px;
//                     width: 18px;
//                   }
//                 }

//                 .text {
//                   font-size: 1.1rem;
//                 }
//               }
//             }
//           }
//         }
//       }
//     }
//   }

//   .statTracker {
//     .tracker {
//       // width: 30%;

//       .track {
//         gap: 1px
//       }
//     }

//     .label {
//       font-size: 0.9rem;
//     }
//   }
// }

// @media (max-width: $width-mobile) {
//   .about {
//     .twoColumns {
//       flex-direction: column;
//       gap: 32px;

//       .stats {}

//       .left {
//         .title {
//           h1 {}

//           h3 {}
//         }

//         .blurb {
//           p {}
//         }

//         .tags {}

//         .socials {
//           .icon {}
//         }
//       }
//     }
//   }

//   .statTracker {
//     .tracker {
//       width: 35%;

//       .track {
//         gap: 4px;
//       }
//     }

//     .label {
//       height: 100%;
//       // font-size: 1.2rem;
//     }
//   }
// }