@use '@styles'as styles;

.landing {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  pointer-events: auto;
}

.wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;

  &.disabled {
    pointer-events: none;
  }
}

.canvas {
  width: 100%;
  height: 100%;
  z-index: 1;
}

.mobile {
  touch-action: none;
}


.screen {
  position: relative;
  overflow: hidden;

  >video {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}


.infoPanel {
  @include styles.unselectable;
  @include styles.text-colors;
  position: relative;
  overflow: hidden;
  height: 325px !important;
  width: 425px !important;
  border-radius: 16px;

  &.button {
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
      filter: saturate(0.5);
      opacity: 0.8;
    }

    &:active {
      filter: saturate(1.3);
      opacity: 1;
    }
  }

  >.content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    &.disabled {
      pointer-events: none;
    }

    >.background {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
    }

    >.navbar {
      position: relative;
      min-height: styles.$height-nav-bar;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      >.border {
        top: unset !important;
        transform: translateY(100%);
        bottom: 0;
        width: 100%;
      }
    }

    >.colorPicker {
      position: relative;
      z-index: 2;
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: space-between;
      padding: 16px;
    }
  }
}

.hueSlider {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  flex: 1;

  &.foreground {
    .slider {
      background: var(--foreground-primary);
    }
  }

  &.background {
    .slider {
      background: var(--background-primary);
    }
  }

  &.accent {
    .slider {
      background: var(--accent-primary);
    }
  }

  .slider {
    -webkit-appearance: none;
    appearance: none;
    width: 50px;
    flex: 1;
    margin-bottom: 8px;

    writing-mode: vertical-lr;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 55px;
      height: 55px;
      background: var(--accent-tertiary);
      cursor: pointer;
    }

    &::-moz-range-thumb {
      // width: 55px;
      // height: 55px;
      // background: gray;
      // cursor: pointer;
    }

    &::-ms-thumb {
      // width: 55px;
      // height: 55px;
      // background: gray;
      // cursor: pointer;
    }

    &::-webkit-slider-runnable-track {
      // height: 100%;
      // background: #ddd;
    }

    &::-moz-range-track {
      // height: 100%;
      // background: #ddd;
    }

    &::-ms-track {
      // height: 100%;
      // background: #ddd;
    }
  }

  .label {
    margin-top: 8px;
  }
}