.wrapper {
  height: 100vh;
  width: 100vw;
  position: absolute;
  overflow: hidden;
}

.hero {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  z-index: 1;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  &Overflow {
    max-width: 100vw;
    overflow: hidden;
    height: 170%;
    position: relative;
  }

  &Scroll {
    height: 200%;
    top: -70%;
    position: absolute;
    border: 1px solid black;
    width: 400%;
    transform: rotate(-20deg) translateX(-50%) translateY(-10%);
  }

}

.top,
.bottom {
  height: 50%;
  width: 100%;
  position: absolute;
}

.top {
  background-color: black;
  display: flex;
  align-items: flex-end;

  &Text {
    color: white;
    // transform: scaleY(-1);
  }
}

.bottom {
  background-color: white;
  display: flex;
  align-items: flex-start;
}

.button {
  position: absolute;
  height: min-content;
  width: min-content;
  top: 40px;
  left: 50%;
  z-index: 100;
  background-color: green;
  border-radius: 8px;
  padding: 4px;
}