.wrapper {
  height: 100vh;
  width: 100vw;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  position: absolute;
  overflow: hidden;
  z-index: 2;


}

.hero {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
  overflow: visible;
  overflow-y: scroll;



  &::-webkit-scrollbar {
    display: none;
  }

  &Overflow {
    max-width: 100%;
    overflow: hidden;
    height: 170%;
    position: relative;


  }

  border-style: solid;

  &Scroll {
    height: 200%;
    top: -70%;
    position: absolute;
    width: 300%;
    transition: transform 0.3s;


    transform:
      rotate(-20deg) translateX(-25%) translateY(0%);
  }
}

@media (max-width: 500px) {
  .hero {
    border-color: red;

    &Scroll {
      transform: rotate(-20deg) translateX(-25%) translateY(4%);
    }
  }
}

@media (min-width: 800px) {
  .hero {
    border-color: green;

    &Scroll {
      transform: rotate(-20deg) translateX(-25%) translateY(-7%);
    }
  }
}

@media (min-width: 1000px) {
  .hero {
    border-color: purple;

    &Scroll {
      transform: rotate(-20deg) translateX(-25%) translateY(-15%);
    }
  }
}

.top,
.bottom {
  height: 50%;
  width: 100%;
  position: absolute;
}

.top {
  background-color: black;
  display: flex;
  align-items: flex-end;

  &Text {
    color: white;
    // transform: scaleY(-1);
  }
}

.bottom {
  background-color: white;
  display: flex;
  align-items: flex-start;
}

.button {
  position: absolute;
  height: min-content;
  width: min-content;
  top: 40px;
  left: 50%;
  z-index: 100;
  background-color: green;
  border-radius: 8px;
  padding: 4px;
}