.wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 64px;
  border: 1px solid red;
  height: 100%;
}

.buttons{
  width: 100px;
  display: flex;
  gap:8px;
}


.animation{
  height: 50px;
  width: 400px;
  display: flex;
  justify-content: space-between;
}

.line{
  height: 100%;
  width: 8px;
  border-radius: 2px;
  background-color: olive;
}