.snapChild {
  &Start {
    z-index: 10;
    scroll-snap-align: start;
    flex: none;
    position: relative;
  }

  &Center {
    z-index: 10;
    scroll-snap-align: center;
    flex: none;
    position: relative;
  }
}