.wrapper{
  height: 100%;
}

.circle{
  background-color: black;
  height: 100px;
  width: 100px;
  top: 10px;
  left: 10px;
  border-radius: 50px;
  position: absolute;
  background-color: white;
  mix-blend-mode: screen;
}

.cover{
  width: 100%;
  height: 50%;
  position: absolute;
  background-color: black;
  color: white;
  mix-blend-mode: multiply;
}
