@import './../animation-one.module.scss';

// * ///////////////////////////// * //
// *            STRIPES            * //
// * ///////////////////////////// * //

.stripes{
  z-index: 1;
  width: 100vw;
  position: absolute;
  display: flex;
  flex-direction: column;


  &:before{
    content: '';
    z-index: 0;
    height: $header-height;
    width: calc(120vw);
    position: absolute;
    left: calc(100% - $header-height/4);
    // background-color: black;
    background-color: beige;
  }

  // &:after{
  //   content: '';
  //   z-index: 0;
  //   top: 100%;
  //   width: 100vw;
  //   height: 1px;
  //   left: calc(100% - $header-height/4);
  //   position: absolute;
  //   background-color: white;
  //   border-bottom: 1px solid black;
  // }
}
  
.stripe{
  z-index: 2;
  flex-grow: 1;
  &C{
    composes: stripe;
    background-color: #0FF;
    // background-color: red;
  }
  &M{
    composes: stripe;
    background-color: #F0F;
    // background-color: green;
  }
  &Y{
    composes: stripe;
    background-color: #fF0;
    // background-color: blue;
  }
  &K{
    composes: stripe;
    background-color: #000;
  }
}

// * ///////////////////////////// * //
// *              TEXT             * //
// * ///////////////////////////// * //

// * Component Wrappers

.headerWrapper{
  // z-index: 0;
  // display: flex;
  // align-items: center;
  // padding: 0px 32px;
  // position: fixed;
  // gap: 8px;
  // height: 70px;
  // background-color: #000000;
  // width: 100%;
}
.headerText{
  z-index: 2;
  display: flex;
  align-items: center;
  padding: 0px 32px;
  position: fixed;
  gap: 8px;
  height: 70px;
  mix-blend-mode: difference;
  width: 100%;
}

.heroWrapper{
  z-index: 1;
  display: flex;
  flex-direction: column;
  height: min-content;
  mix-blend-mode: difference;
}

// * Text Wrappers

.preHero{
  display: flex;
}

.hero{
  margin: -10px 0;
}

.subHero{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: min-content;
  margin-left: auto;
  gap: .05rem
}


// * Just Typography

.text{
  margin: 0px;
  &__header{
    composes: text;
    font-size: 2rem;
    line-height: 1.543m;
    color: white;
  }
  &__preHero{
    composes: text;
    font-size: 2rem;
    line-height: 2rem;
    margin-left: 10px;
    color: $subtext-color;
  }
  &__hero{
    composes: text;
    font-size: 10em;
    line-height: 10rem;
    color: white;
    
    &:first-of-type{
      margin-bottom: -2rem;
    }
    
  }
  &__subHero{
    composes: text;
    font-size: 1.5rem;
    line-height: 1.543m;
    width: 100%;
    text-align: end;
    color: $subtext-color;
  }
}

