@use "sass:color";

$foreground-primary: #00d67d;
$foreground-secondary: color.adjust($foreground-primary, $saturation: -10%);
$foreground-tertiary: color.adjust($foreground-primary, $saturation: -40%);
$foreground-quaternary: color.adjust($foreground-primary, $lightness: -30%);

$accent-primary: #00dec4;
$accent-secondary: color.adjust($accent-primary, $saturation: -10%);
$accent-tertiary: color.adjust($accent-primary, $saturation: -30%);

$background-primary: #043030;
$background-secondary: color.adjust($background-primary, $lightness: -8%);
$background-tertiary: color.adjust($background-primary, $saturation: -8%);

// $background-primary: #003838;
:global {
  :root {
    --foreground-primary: #{$foreground-primary};
    --foreground-secondary: #{$foreground-secondary};
    --foreground-tertiary: #{$foreground-tertiary};

    --accent-primary: #{$accent-primary};
    --accent-secondary: #{$accent-secondary};
    --accent-tertiary: #{$accent-tertiary};

    --background-primary: #{$background-primary};
    --background-secondary: #{$background-secondary};
    --background-tertiary: #{$background-tertiary};
  }
}