@use "sass:color";
@use '@styles/colors'as colors;

@mixin retro-scrollbar {
  overflow-y: scroll;
  scrollbar-color: var(--foreground-secondary) transparent; // For Firefox

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: black; // Ensure the track has a visible background
    border-radius: 10px; // Add some rounding to match thumb
  }

  &::-webkit-scrollbar-thumb {}

  &::-webkit-scrollbar-thumb:hover {}
}

// Mixin for glowing background
@mixin glowing-background {
  background-image: radial-gradient(colors.$background-primary 10%, black);
  background-image: radial-gradient(var(--background-primary) 10%, black);
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

// Mixin for full screen positioning
@mixin full-screen-positioning {
  display: block;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

@keyframes lines {
  0% {
    background-position: 0px 0px;
  }

  50% {
    background-position: 0px 0px;
  }

  51% {
    background-position: 0px 2px;
  }

  100% {
    background-position: 0px 2px;
  }
}

@mixin scanlines-effect {
  opacity: 0.8;
  background: repeating-linear-gradient(transparent 0px 1px,
      colors.$background-secondary 3px 4px);
  background: repeating-linear-gradient(transparent 0px 1px,
      var(--background-secondary) 3px 4px);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  pointer-events: none;
  animation: lines 0.1s linear infinite;
}

@mixin unselectable {
  -webkit-user-select: none;
  /* Safari and Chrome */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE and Edge */
  user-select: none;
  /* Standard syntax */
  -webkit-touch-callout: none;
  /* Disable callout on iOS */
}