$background-primary: rgb(60, 60, 60);
$background-secondary: rgb(111, 111, 111);
$background-tertiary: rgb(193, 193, 193);
$background-quaternary: rgb(0, 0, 0);

$foreground-primary: #f00;
$foreground-secondary: #f00;
$foreground-tertiary: #f00;


$text-primary-dark: black;
$text-primary: rgb(255, 255, 255);
$text-secondary: hsl(0, 2%, 72%);
$text-tertiary: #5A5A5A;