// Dark BG

$background-primary: black;
$background-secondary: rgb(111, 111, 111);
$background-tertiary: white;

$foreground-primary: black; // unused
$foreground-secondary: #C2C2C2;
$foreground-tertiary: black; // unused

$text-primary: white;
$text-secondary: #dedede;
$text-tertiary: #898989;

// $text-primary: purple;
// $text-secondary: orange;
// $text-tertiary: teal;

// Light BG

$background-quaternary: white;
$background-quinary: white;
$background-senary: black; // unused

$foreground-quaternary: black; // unused
$foreground-quinary: black; // unused

$text-quaternary: black;
$text-quinary: #393939;
$text-senary: #424242;

// $text-quaternary: blue;
// $text-quinary: green;
// $text-senary: red;