$border-radius-card: 16px;
$border-radius-item: 8px;

$width-mobile: 480px;
$width-small: 768px;
$width-medium: 962px;
$width-compact: 1200px;
$width-default: 1536px;
$width-large: 1750px;

$max-width-page: 2000px;

$spacing-paragraph: 24px;

$page-padding-large: 6.25rem;
$page-padding-default: 4rem;
$page-padding-compact: 3.5rem;
$page-padding-small: 2.5rem;
$page-padding-mobile: 1.5rem;

$paragraph-spacing-large: 2rem;
$paragraph-spacing-small: 1.4rem;