$border-radius-card: 16px;
$border-radius-item: 8px;

$width-tiny: 450px;
$width-mobile: 550px;
$width-mobile-medium: 625px;
$width-mobile-large: 700px;
$width-small: 800px;
$width-medium: 962px;
$width-compact: 1200px;
$width-default: 1536px;
$width-large: 1750px;

$max-width-page: 2000px;

$spacing-paragraph: 24px;

$page-padding-large: 6.25rem;
$page-padding-default: 4rem;
$page-padding-compact: 3.5rem;
$page-padding-small: 2.5rem;
$page-padding-mobile: 1.5rem;

$paragraph-spacing-large: 2rem;
$paragraph-spacing-small: 1.4rem;

$height-nav-bar: 45px;

$padding-page: 32px;
$padding-page-mobile: 16px;

@mixin page-padding-horizontal {
  padding: 0px $padding-page;

  @media (max-width: $width-small) {
    padding: 0px $padding-page-mobile;
  }
}

@mixin page-padding-vertical {
  padding: $padding-page 0px;

  @media (max-width: $width-small) {
    padding: $padding-page-mobile 0px;
  }
}

@mixin page-padding {
  @include page-padding-vertical;
  @include page-padding-horizontal;
}

@mixin list-flex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}