@use "sass:color";
@import './colors.module.scss';

@mixin screen-text {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0px;
  }

  h1 {
    color: $foreground-primary;
    font-size: 55px;
  }

  h2 {
    color: $foreground-secondary;
    cursor: pointer;

    &:hover {
      color: color.adjust($foreground-secondary, $lightness: 10%)
    }
  }

  h3 {
    color: $foreground-tertiary;
    // margin-bottom: 16px;
  }

  p {
    color: $foreground-tertiary;
  }
}