@import '@styles/layout.module.scss';
@import '@styles/colors.module.scss';

$font-size-large: 10rem;
$font-size-medium: 4rem;
$font-size-small: 2.8rem;
$font-size-tiny: 1.8rem;

.fonts {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }

  h1 {
    font-size: $font-size-large;
    line-height: $font-size-large;

    font-family: "Sansation Bold";
  }

  h2 {
    font-size: $font-size-medium;
    line-height: calc($font-size-medium * 1.15);

    font-family: "Anonymous Pro";
  }

  h3 {
    font-size: $font-size-small;
    line-height: calc($font-size-small * 1.15);

    font-family: "Sansation Regular";
  }

  p {
    font-size: $font-size-tiny;
    line-height: calc($font-size-tiny * 1.2);

    font-family: "Anonymous Pro";
  }
}

@media (max-width: $width-default) {
  $scalar: 0.8;

  .fonts {
    h1 {
      font-size: calc($font-size-large * $scalar);
      line-height: calc($font-size-large * $scalar);
    }

    h2 {
      font-size: calc($font-size-medium * $scalar);
      line-height: calc($font-size-medium * $scalar * 1.15);
    }

    h3 {
      font-size: calc($font-size-small * $scalar);
      line-height: calc($font-size-small * $scalar * 1.15);
    }

    p {
      font-size: calc($font-size-tiny * $scalar);
      line-height: calc($font-size-tiny * $scalar * 1.3);
    }
  }
}

@media (max-width: $width-compact) {
  $scalar: 0.7;

  .fonts {
    h1 {
      font-size: calc($font-size-large * $scalar);
      line-height: calc($font-size-large * $scalar);
    }

    h2 {
      font-size: calc($font-size-medium * $scalar);
      line-height: calc($font-size-medium * $scalar * 1.15);
    }

    h3 {
      font-size: calc($font-size-small * $scalar);
      line-height: calc($font-size-small * $scalar * 1.15);
    }

    p {
      font-size: calc($font-size-tiny * $scalar);
      line-height: calc($font-size-tiny * $scalar * 1.3);
    }
  }
}

@media (max-width: $width-medium) {
  $scalar: 0.6;

  .fonts {
    h1 {
      font-size: calc($font-size-large * $scalar);
      line-height: calc($font-size-large * $scalar);
    }

    h2 {
      font-size: calc($font-size-medium * $scalar);
      line-height: calc($font-size-medium * $scalar * 1.15);
    }

    h3 {
      font-size: calc($font-size-small * $scalar);
      line-height: calc($font-size-small * $scalar * 1.15);
    }

    p {
      font-size: calc($font-size-tiny * $scalar);
      line-height: calc($font-size-tiny * $scalar * 1.3);
    }
  }
}

@media (max-width: $width-small) {
  $scalar: 0.6;
  $scalar-h1: 0.7;
  $scalar-h2: 0.8;

  .fonts {
    h1 {
      font-size: calc($font-size-large * $scalar * $scalar-h1);
      line-height: calc($font-size-large * $scalar * $scalar-h1);
    }

    h2 {
      font-size: calc($font-size-medium * $scalar * $scalar-h2);
      line-height: calc($font-size-medium * $scalar * $scalar-h2 * 1.15);
    }

    h3 {
      font-size: calc($font-size-small * $scalar);
      line-height: calc($font-size-small * $scalar * 1.15);
    }

    p {
      font-size: calc($font-size-tiny * $scalar);
      line-height: calc($font-size-tiny * $scalar * 1.3);
    }
  }
}

@media (max-width: $width-mobile) {
  $scalar: 0.5;
  $scalar-h1: 0.7;
  $scalar-h2: 0.9;
  $scalar-p: 1.2;

  .fonts {
    h1 {
      font-size: calc($font-size-large * $scalar * $scalar-h1);
      line-height: calc($font-size-large * $scalar * $scalar-h1);
    }

    h2 {
      font-size: calc($font-size-medium * $scalar * $scalar-h2);
      line-height: calc($font-size-medium * $scalar * $scalar-h2 * 1.15);
    }

    h3 {
      font-size: calc($font-size-small * $scalar);
      line-height: calc($font-size-small * $scalar * 1.15);
    }

    p {
      font-size: calc($font-size-tiny * $scalar * $scalar-p);
      line-height: calc($font-size-tiny * $scalar * $scalar-p * 1.3);
    }
  }
}