@use "sass:color";
@import './colors.module.scss';

@mixin screen-text {
  h1 {
    color: $foreground-primary;
    font-size: 55px;
  }

  h2 {
    color: $foreground-secondary;
    cursor: pointer;

    &:hover {
      color: color.adjust($foreground-secondary, $lightness: 10%)
    }
  }

  h3 {
    color: $foreground-tertiary;
  }

  p {
    color: $foreground-tertiary;
  }
}

@mixin handheld-text {
  @include screen-text;

  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {}

  h5 {}

  h6 {}

  p {}
}