@import '@styles/mixins.module.scss';
@import '@styles/colors.module.scss';
@import '@styles/typography.module.scss';
@import '@styles/layout.module.scss';
@import '@styles/hover.module.scss';


.menu {
  @include text-large;
  margin-bottom: 32px; // Adjust spacing between entries as needed
  display: flex;
  flex-direction: column;
  gap: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  padding: $padding-page 0px;

  h2 {
    @include hover-color-foreground-secondary;
  }
}