@import './../pages.module.scss';
@import '@styles/layout.module.scss';
@import '@styles/colors.module.scss';

.wrapper {
  composes: pageScrollable;
  scroll-snap-type: y mandatory;
}

.section {
  width: 100%;
}