.canvas {
  width: 100vw;
  height: 100vh;
}

.screen {
  background-color: green;
  height: 308px !important;
  width: 457px !important;

  border-radius: 20px 20px 20px 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  >video {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.controlBar {
  height: 30px !important;
  width: 328px !important;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;

  >div {
    background-color: green;
    overflow: hidden;
    height: 100%;
  }

  .left {
    margin-right: 3px;
    min-width: 117px;
    flex: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .center {
    min-width: 76px;
    margin-right: 60px;
    flex: 0;
  }

  .right {
    flex: 1;
  }
}

$primary-color: #003333;
$background-color: #000;
$glow-color: #00CCCC;

// Mixin for glowing background
@mixin glowing-background {
  background-image: radial-gradient($primary-color 10%, $background-color);
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

// Mixin for full screen positioning
@mixin full-screen-positioning {
  display: block;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

@keyframes lines {
  0% {
    background-position: 0px 0px;
  }

  50% {
    background-position: 0px 0px;
  }

  51% {
    background-position: 0px 2px;
  }

  100% {
    background-position: 0px 2px;
  }
}

@mixin scanlines-effect {
  background: repeating-linear-gradient(transparent 0px 1px,
      hsl(154, 0%, 0%, 0.3) 3px 4px);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  pointer-events: none;
  animation: lines 0.06666666s linear infinite;
}


// Applying the backdrop
.backdrop {
  @include glowing-background;
  @include full-screen-positioning;
}

.scanlines {
  @include scanlines-effect;
}

.body {
  h1 {
    color: #00d67d;
  }

  h2 {
    color: #01ab64;
  }
}