.wrapper {
  scroll-behavior: smooth;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  &::-webkit-scrollbar {
    display: none;
  }

  height: 100vh;
  width: 100vw;
  overflow: scroll;
  border: 2px solid blue;
  position: relative;
}

// .content {
// }

.snapParent {
  scroll-snap-type: y proximity;
  scroll-snap-type: y mandatory;
  overflow: scroll;
  height: 100vh;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}

// header {
//   position: fixed;
//   height: 10vh;
// }

// .snap-parent-y-proximity {
//   scroll-snap-type: y proximity;
//   overflow: scroll;
//   height: 100vh;
//   width: 100%;
//   -webkit-overflow-scrolling: touch;
// }

// .snap-child-start {
//   opacity: 0.5;
//   z-index: 10;
//   scroll-snap-align: start;
//   flex: none;
// }

// .snap-child-center {
//   opacity: 0.5;
//   z-index: 10;
//   scroll-snap-align: center;
//   flex: none;
// }