.wrapper{
  height: 100%;
}

/* A white bottom layer */
.white { 
  background: white; 
  width:400px; 
  z-index:1;
  position:absolute;
  height:200px;
}

/* A black layer on top of the white bottom layer */
.black { 
  background: red; 
  width:100px; 
  z-index:2;
  position:absolute;
  height:200px;
}

/* Some white text on top with blend-mode set to 'difference' */
.test {
  position:absolute; 
  font-family: Arial, Helvetica; 
  font-size: 100px; 
  mix-blend-mode: difference;
  color: white;
  z-index: 3
}

/* A red DIV over the scene with the blend-mode set to 'screen' */
.marked { 
  background-color: red;
  mix-blend-mode: screen;
  width:400px; 
  z-index:4
}

