@import './../../home.module.scss';
@import '@styles/colors.module.scss';

.blurb {
  composes: section;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: $spacing-paragraph;
  min-height: 30vh;
  padding: 0px 16px;

  >h2 {
    text-align: center;
    font-size: 2.5rem;
    color: $text-secondary;
  }

  >p {
    font-size: 1.8rem;
    text-align: center;
    max-width: 850px;
    color: $text-tertiary;
  }
}

@media (max-width: $width-compact) {
  .blurb {
    min-height: 40vh;

    >h2 {
      font-size: 1.7rem;
    }

    >p {
      font-size: 1.3rem;
      line-height: 1.4rem;
    }
  }
}

@media (max-width: $width-small) {
  .blurb {
    min-height: 60vh;
    justify-content: center;
  }
}

@media (max-width: $width-mobile) {
  .blurb {
    >h2 {
      font-size: 1.5rem;
    }

    >p {
      font-size: 1rem;
      line-height: 1.1rem;
    }
  }
}