@import './../simple-homepage.module.scss';

.panel {
  width: 100%;
  scroll-snap-align: center;
}

.hero {
  composes: panel;
  height: 100%;
  // background-color: $background-primary;

  display: flex;
  align-items: center;
  justify-content: center;

  &Content {
    max-width: 70%;
    padding-bottom: 15%;

    h3 {
      font-family: 'Work Sans', sans-serif;
      font-weight: 300;
      color: $text-tertiary;
    }

    h1 {
      font-family: 'Nunito', sans-serif;
      font-weight: 800;
      line-height: 64px;
      font-size: 52px;

      &:first-of-type {
        color: $text-primary;
      }

      color: $text-secondary;
    }

    h2 {
      font-family: 'Nunito', sans-serif;
      font-weight: 800;
      line-height: 40px;
      font-size: 40px;


      color: $text-secondary;
    }

    p {
      font-family: 'Work Sans', sans-serif;
      color: $text-secondary;
    }
  }
}

.about {
  composes: panel;
  background-color: gray;
  height: 100%;
  padding: 10%;

  div {
    height: 200px;
  }
}

.experience {
  composes: panel;
  background-color: gray;
  height: 100%;
}