@import '@styles/colors.module.scss';
@import '@styles/layout.module.scss';
@import '@styles/typography.module.scss';

.locations {
  position: relative;
  composes: fonts;
  padding: 0px $page-padding-large $page-padding-large $page-padding-large;
  max-width: 100%;
  width: 100%;
  height: 1px;
  min-height: 50vh;
  display: flex;
  justify-content: center;

  .content {
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: $background-primary;
    gap: $paragraph-spacing-large;
    max-width: $max-width-page;
    min-height: 100%;
    width: 100%;

    >.blurb {
      display: flex;
      flex-direction: column;
      gap: $paragraph-spacing-small;

      >span {
        >h3 {
          color: $text-primary;

          &:first-of-type {
            color: $text-secondary;
          }
        }
      }

      >p {
        color: $text-secondary;
      }
    }
  }
}

@media (max-width: $width-default) {
  .locations {
    padding: 0px $page-padding-default $page-padding-default $page-padding-default;

    .content {
      // overflow: hidden;
    }
  }
}

@media (max-width: $width-compact) {
  .locations {
    padding: 0px $page-padding-compact $page-padding-compact $page-padding-compact;
  }
}

@media (max-width: $width-small) {
  .locations {

    min-height: 100vh;
    scroll-snap-align: start;
    padding: $page-padding-mobile $page-padding-mobile $page-padding-small $page-padding-mobile;

    .content {
      height: 100%;
      flex-direction: column;
      justify-content: center;
    }


    .blurb {
      justify-content: flex-end;
    }

    .viewer {
      overflow: hidden;
      min-height: 1px;
      min-height: 55%;
      flex-shrink: 0;
    }
  }
}