.pageWrapper {
  // width: 100vw;
  height: 100vh;
}

.pageHome {
  composes: pageWrapper;
}

.pageThreeScroller {
  composes: pageWrapper;
}

.pageDripText {
  composes: pageWrapper;
}

.pageTitleMotion {
  composes: pageWrapper;

  &__nav{
    position: relative;
    background-color: #292929;
    justify-content: center;    
  }
}
