.wrapper{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home{
  height: 60%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  &Content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
}


.name{
  position: relative;
  height: 100%;
  width: 100%;

  > text {
    fill: none !important;
    stroke-width: 4px;
    stroke-dasharray: 600px;
    stroke-dashoffset: 600px;
    animation: draw-stroke 5s linear forwards;
    stroke: blue;
  }

  path {
    stroke: #f00;
    stroke-width: 2px;
    animation: draw-stroke 2s linear infinite;
  }
}
.generatedSvgText{
  position: relative;
  height: 100%;
  width: 100%;

  > text {
    fill: none !important;
    stroke-width: 1px;
    stroke-dasharray: 600px;
    stroke-dashoffset: 600px;
    animation: draw-stroke 5s linear forwards;
    stroke: blue;
  }

  path {
    stroke: #f00;
    stroke-width: 2px;
    animation: draw-stroke 2s linear infinite;
  }
}

@keyframes draw-stroke {
  100% {
    stroke-dashoffset: 0;
  }
}