@use "sass:color";
@use '@styles'as styles;

/////////////////////////////////////////////////
//                   BLURB                    //
/////////////////////////////////////////////////

.blurb {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &.handheld {
    gap: 0.2rem;

    .header {

      .prefix {
        font-size: 1.3rem;
      }

      .title {
        font-size: 1.7rem;
      }
    }

    .description {
      font-size: 1.1rem;
    }

  }

  .description {
    font-size: 1.6rem;
  }

  &.fullscreen {}

  .header {

    .prefix,
    .title {}

    .prefix {
      font-size: 2rem;
    }

    .title {
      @include styles.hover-color-foreground-secondary;
      color: styles.$foreground-primary;
      color: var(--foreground-primary);
      font-size: 2.7rem;
    }
  }

  .description {
    width: 100%;
  }
}

@media (max-width: styles.$width-medium) {
  .blurb {
    &.fullscreen {
      .description {
        font-size: 1.2rem;
      }
    }
  }
}

@media (max-width: styles.$width-small) {
  .blurb {
    &.fullscreen {
      gap: 0.2rem;

      .header {

        .prefix {
          font-size: 1.3rem;
        }

        .title {
          font-size: 2rem;
        }

        .description {
          font-size: 1.1rem;
        }
      }
    }
  }
}

@media (max-width: styles.$width-tiny) {
  .blurb {
    &.fullscreen {
      .description {
        font-size: 1.1rem;
      }

    }
  }

}


@media (max-width: styles.$width-mobile-medium) {
  .blurb {
    &.fullscreen {
      gap: 0.2rem;

      .header {

        .prefix {
          font-size: 1.3rem;
        }

        .title {
          font-size: 2rem;
        }
      }
    }
  }
}

/////////////////////////////////////////////////
//                   SLIDER                    //
/////////////////////////////////////////////////

$line-small-height: 12px;
$line-small-width: 3px;

$line-medium-height: 17px;
$line-medium-width: 3px;

$line-large-height: 20px;
$line-large-width: 4px;

$line-selected-height: 25px;
$line-selected-width: 5px;

.slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  position: relative;
  height: $line-selected-height;
}

.line,
.stop {
  height: 100%;
  background-color: transparent;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;

  &::before {
    content: "";
    display: block;
    margin: 0 auto;
    transition: background-color 0.3s, height 0.2s, width 0.2s;
    border-radius: 4px;
  }

  &:hover::before {
    background-color: styles.$foreground-primary;
    background-color: var(--foreground-primary);
  }

  &.bulging::before {
    height: $line-medium-height;
    width: $line-medium-width;
    background-color: color.adjust(styles.$foreground-secondary, $saturation: -50%);
    transition: background-color 0.1s, height 0.02s, width 0.02s;
  }
}

.line {
  &::before {
    width: $line-small-width;
    height: $line-small-height;
    background-color: styles.$foreground-quaternary;
    background-color: var(--foreground-quaternary);
  }

  &:hover::before {
    height: $line-medium-height;
    width: $line-medium-width;
  }
}

.stop {
  &::before {
    width: $line-medium-width;
    height: $line-medium-height;
    background-color: styles.$foreground-tertiary;
    background-color: var(--foreground-tertiary);
  }

  &.bulging::before {
    height: $line-large-height;
    width: $line-large-width;
  }

  &:hover::before {
    height: $line-large-height;
    width: $line-large-width;
  }

  &:focus,
  &:active {
    &::before {
      height: calc($line-selected-height + 0px);
      width: $line-selected-width;
    }
  }

  &.requested::before {
    height: calc($line-large-height + 2.5px);
    width: $line-selected-width;
  }

  &.selected::before {
    height: calc($line-selected-height + 5px) !important;
    width: $line-selected-width;
    background-color: styles.$foreground-primary;
    background-color: var(--foreground-primary);
  }
}

// @media (max-width: $width-small) {
//   .line {
//     pointer-events: none;
//   }
// }

/////////////////////////////////////////////////
//                 MAP PIN                     //
/////////////////////////////////////////////////

.pin {
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
  position: absolute;
  height: 5.7%;
  width: auto;
  rotate: 225deg;
  transform-origin: top left;


  &Minimized {
    transform: scale(0.5);
    opacity: 0.6;
  }


  path,
  svg {

    fill: styles.$foreground-primary;
    stroke: styles.$foreground-primary;
    fill: var(--foreground-primary);
    stroke: var(--foreground-primary);
  }
}


/////////////////////////////////////////////////
//                 MAP VIEWER                  //
/////////////////////////////////////////////////

.mapViewer {
  display: flex;
  flex-direction: column;
  justify-content: center;

  // TODO: fullscreen styles
  &.handHeld {}

  &.fullscreen {}

  .border {
    height: 100%;
    z-index: 1000;
    width: 100%;
    pointer-events: none;
    position: absolute;
    top: 0px;
    left: 0px;
  }

  >.contents {
    border-radius: 32px 32px 0 0px;
    overflow: hidden;
    aspect-ratio: 1.4 !important;
    position: relative;


    >.blackBackground {
      background-color: black;
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
    }


    >.map {
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;

      display: flex;

      >.grid {
        position: absolute;
        left: -28%;
        top: -10%;
        height: 155%;
        width: 155%;
        z-index: 0;
        opacity: 0.7;
        z-index: 0;
      }

      >.usa {
        z-index: 1;
        padding: 4.5%;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;

        path {
          stroke: styles.$accent-tertiary;
          stroke: var(--accent-tertiary);
        }
      }

      >.pins {
        z-index: 2;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        opacity: 1;

        >.details {
          transition: opacity 0.2s ease-in-out;
          position: absolute;
          z-index: 2;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding: 8px;
          left: 50%;
          top: 50%;
          opacity: 0;

          >span {
            width: 100%;
            display: flex;
            gap: 4px;
            align-items: center;
            justify-content: flex-start;
            white-space: nowrap;

            h4 {
              font-size: 1.7rem;
              line-height: 1.9rem;
              color: styles.$foreground-primary;
              color: var(--foreground-primary);
            }

            h5 {
              font-size: 1.4rem;
              line-height: 1.6rem;
              color: styles.$foreground-tertiary;
              color: var(--foreground-tertiary);
            }

            svg {

              svg,
              path {
                stroke: styles.$accent-primary;
                stroke: var(--accent-primary);
                fill: transparent;
              }

              height: 1.2rem;
              width: 1.2rem;
            }
          }

          >div {
            position: absolute;
            height: 100%;
            width: 100%;


            >svg {
              position: absolute;

              svg,
              path {
                fill: styles.$foreground-tertiary;
                fill: var(--foreground-tertiary);
              }

              &:nth-of-type(2) {
                right: 0px;
                transform: rotate(90deg);
              }

              &:nth-of-type(3) {
                right: 0px;
                bottom: 0px;
                transform: rotate(180deg);
              }

              &:nth-of-type(4) {
                left: 0px;
                bottom: 0px;
                transform: rotate(270deg);
              }
            }
          }
        }
      }
    }
  }

  >.divider {
    position: relative;
  }

  >.slider {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 8px 18px 8px;
  }
}

.portland,
.paloAlto,
.nyc,
.schenectady {
  .details {
    opacity: 1 !important;
  }
}

.portland {
  $scale: 180%;

  &Pin {
    left: 91.2%;
    top: 27.0%;
  }

  .pinSelected {
    rotate: 380deg !important;
  }

  >.map {
    left: -127%;
    top: -15%;
    min-height: $scale;
    min-width: $scale;
  }

  .details {
    left: 90% !important;
    top: 37% !important;
  }
}

.nyc {
  $scale: 190%;

  &Pin {
    left: 87%;
    top: 37.5%;
  }

  .pinSelected {
    rotate: 380deg !important;
  }

  >.map {
    left: -135%;
    top: -25%;
    min-height: $scale;
    min-width: $scale;
  }

  .details {
    left: 88% !important;
    top: 44% !important;
  }
}

.paloAlto {
  $scale: 180%;

  &Pin {
    left: 6.5%;
    top: 44%;
  }

  .pinSelected {
    rotate: 180deg !important;
  }

  >.map {
    left: 50%;
    top: 0%;
    min-height: $scale;
    min-width: $scale;
  }

  .details {
    left: 5.5% !important;
    top: 30% !important;

    translate: -100% -100%;
  }
}

.schenectady {
  $scale: 180%;

  &Pin {
    left: 85%;
    top: 30%;
  }

  .pinSelected {
    rotate: 190deg !important;
  }

  >.map {
    left: -75%;
    top: 7%;
    min-height: $scale;
    min-width: $scale;
  }

  .details {
    translate: -100% -100%;
    left: 88.5% !important;
    top: 17% !important;
  }
}

@media (max-width: styles.$width-mobile-large) {
  .fullscreen {
    >.contents {
      >.map {
        >.pins {
          >.details {
            padding: 6px;

            >span {


              h4 {
                font-size: 1.2rem;
                line-height: 1.1rem;
              }

              h5 {
                font-size: 1.1rem;
                line-height: 1.6rem;
              }
            }
          }
        }
      }
    }
  }

  .portland {
    $scale: 160%;

    >.map {
      left: -105%;
      // top: -10%;
      min-height: $scale;
      min-width: $scale;
    }
  }

  .nyc {
    $scale: 160%;

    >.map {
      left: -100%;
      min-height: $scale;
      min-width: $scale;
    }
  }

  .paloAlto {
    $scale: 150%;

    >.map {
      left: 43%;
      // top: -10%;
      min-height: $scale;
      min-width: $scale;
    }
  }

  .schenectady {
    $scale: 150%;

    >.map {
      left: -55%;
      top: 15%;
      min-height: $scale;
      min-width: $scale;
    }
  }
}

//   .mapViewer {
//     min-width: 375px;
//     max-width: 375px;

//     &Contents {
//       >.map {

//         >.grid {
//           left: -35%;
//           height: 167%;
//           width: 167%;
//         }

//         >.pins {
//           >.details {
//             >span {
//               h4 {
//                 font-size: 1.3rem;
//                 line-height: 1.35rem;
//               }

//               h5 {
//                 font-size: 1.2rem;
//                 line-height: 1.3rem;
//               }

//               svg {
//                 height: 1.1rem;
//                 width: 1.1rem;
//               }
//             }
//           }
//         }
//       }
//     }
//   }

//   .portland {
//     >.map {
//       left: -105%;
//     }
//   }

//   .nyc {
//     >.map {
//       left: -124%;
//     }
//   }

//   .paloAlto {
//     >.map {
//       left: 48%;
//     }
//   }

//   .schenectady {
//     >.map {
//       top: -4%;
//     }
//   }
// }

// @media (max-width: $width-small) {
//   .mapViewer {
//     max-width: unset;

//     &Contents {}
//   }

//   .portland {
//     >.map {
//       left: -110%;
//     }
//   }

//   .paloAlto {
//     $scale: 190%;

//     >.map {
//       min-height: $scale;
//       min-width: $scale;
//     }
//   }

//   .schenectady {
//     >.map {
//       top: -0%;
//     }

//     .details {
//       left: 85% !important;
//       top: 17.5% !important;
//     }
//   }
// }

// @media (max-width: $width-small) {
//   .paloAlto {
//     $scale: 180%;

//     >.map {
//       left: 53%;
//       min-height: $scale;
//       min-width: $scale;
//     }
//   }

//   .nyc {
//     $scale: 180%;

//     >.map {
//       min-height: $scale;
//       min-width: $scale;
//     }
//   }

//   .schenectady {
//     .details {
//       left: 87% !important;
//       top: 16.5% !important;
//     }
//   }
// }

// @media (max-width: $width-small) {
//   .mapViewer {
//     min-width: 100%;
//     max-width: 100%;

//     &Contents {}
//   }
// }