@use '@styles'as styles;

.link {
  &Text {
    * {
      @include styles.hover-color-foreground-secondary;
    }
  }
}

.entry {
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;

  .header {
    display: flex;
    flex-direction: column;

    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      p {
        color: styles.$accent-secondary;
        color: var(--accent-secondary);
      }
    }

    .subtitle {}
  }

  .box {
    position: relative;

    &Content {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      overflow: hidden;
    }
  }

  .background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.9);
    pointer-events: none;
    z-index: 0;
  }

  .body {
    position: relative;
    z-index: 1;
  }

  .descriptionContents {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px;
  }

  .descriptionWrapper {}


  .childrenWrapper {
    aspect-ratio: 1.5;
    display: flex;
    align-items: flex-start;
    position: relative;
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 40%;
    max-height: 100%;
  }


  .children {
    z-index: 1;
    display: flex;
    height: 100%;
    position: relative;
  }

  .line {
    z-index: 2;
  }
}

@media (max-width: styles.$width-mobile) {
  .fullScreen {
    .box {
      &Content {
        flex-direction: column-reverse;
      }
    }

    .childrenWrapper {
      aspect-ratio: unset;
      max-width: unset;
      max-height: unset;
    }

    .children {}

    .line {
      top: 100%;
    }
  }
}

@media (max-width: styles.$width-tiny) {
  .fullScreen {

    .header {
      gap: 8px;

      .title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
      }
    }
  }

}
