@use "sass:color";

@use '@styles'as styles;

// * * * * * * * Unreferenced Styles * * * * * * * //

.navbarBorder {
  top: unset !important;
  transform: translateY(100%);
  bottom: 0;
}

// * * * * * * * Mixins * * * * * * * //

@mixin navBarContainer {
  @include styles.unselectable;
  position: relative;
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

@mixin navBarContents {
  width: 100%;
  height: 100%;
  max-width: 1000px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

@mixin navBarSection {
  height: 100%;
  display: flex;
  align-items: center;
}

@mixin navItemCommon {
  position: relative;
  color: styles.$accent-primary;
  color: var(--accent-primary);
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;

  .icon {
    position: relative;
    width: 24px;
    height: 24px;
    flex-shrink: 0;

    .image {
      height: 100%;
      width: 100%;

      svg,
      path {
        fill: styles.$accent-primary;
        fill: var(--accent-primary);
      }
    }

    @media (max-width: styles.$width-mobile) {
      width: 20px;
      height: 20px;
    }
  }

  .label {
    margin: 0px 8px;
    display: inline-block;
    transition: all 0.3s ease;
  }


}


// * * * * * * * Navigation Bar Styles * * * * * * * //

.navigationBar {
  @include navBarContainer;
  height: styles.$height-nav-bar;
}

.contents {
  @include navBarContents;
}

.left,
.right,
.center {
  @include navBarSection;
}

.left {
  grid-column: 1 / 2;
  justify-content: flex-start;
}

.center {
  grid-column: 2 / 3;
  justify-self: center;
}

.right {
  grid-column: 3 / 4;
  justify-content: flex-end;
}



// * * * * * * * Mobile Styles * * * * * * * //

@media (max-width: styles.$width-small) {
  .contents {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .left,
  .right,
  .center {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .left {
    margin-right: auto;
  }

  .center {
    padding: 0px 16px;
    border-left: 2px solid styles.$foreground-primary;
    border-left: 2px solid var(--foreground-primary);
  }

  .right {
    // Add any specific styles if needed
  }
}


@media (max-width: calc((styles.$width-tiny + styles.$width-mobile) /2)) {
  .center {
    display: none;
  }
}



// * * * * * * * NavBarItem Styles * * * * * * * //

.navItem {
  @include navItemCommon;
  width: auto;
  pointer-events: auto; // Ensures navItem has pointer events enabled

  .label,
  .border,
  .icon {
    pointer-events: inherit; // Passes pointer events to children
  }

  .label {
    display: inline-block;
  }

  &:hover {
    .label {
      opacity: 0.8;
    }

    .border {
      border-bottom-width: 3px;
    }

  }

  .border {
    pointer-events: inherit;
    transition: all 0.1s ease;
    position: absolute;
    height: 100%;
    width: 100%;
    border-bottom: 0px solid styles.$foreground-primary;
    border-bottom: 0px solid var(--foreground-primary);

    &.selected {
      border-bottom-width: 6px !important;
    }
  }

  &.mini {
    transition: width 0.2s ease-in-out;
    width: 50px;
    justify-content: flex-start;



    .label {
      display: none;
    }

    .icon {
      margin-left: 12px;
    }

    &:hover {
      width: 130px;

      .label {
        display: inline-block;
        opacity: 0.8;
      }

      .icon .image {}
    }

    @media (max-width: styles.$width-mobile) {
      width: 40px;

      .icon {
        margin-left: 10px;
      }
    }
  }
}

// * * * * * * * NavBarButton Styles * * * * * * * //

.navButton {
  @include navItemCommon;
  padding: 8px;
  border-left: 4px solid styles.$foreground-primary;
  border-left: 4px solid var(--foreground-primary);
  justify-content: center;

  &:last-of-type {
    border-right: 4px solid styles.$foreground-primary;
    border-right: 4px solid var(--foreground-primary);
  }
}