@import './../../home.module.scss';
@import '@styles/colors.module.scss';
@import '@styles/layout.module.scss';
@import '@styles/typography.module.scss';

.landing {
  composes: section;
  composes: fonts;
  position: relative;
  padding: 0px $page-padding-large;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;

  .hero,
  .blurb {
    z-index: 1;
    width: 100%;
    max-width: $max-width-page;
  }


  .hero {
    scroll-snap-align: start;
    flex: 1;
    padding-top: $page-padding-large;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .blurb {
    min-height: 15vh;
    max-height: 15vh;
  }

  .header {
    display: flex;
    flex-direction: column;
    gap: 16px;

    >h1 {
      color: $text-primary;
    }

    >h2 {
      color: $text-primary;
    }

    >h3 {
      color: $text-secondary;
      max-width: 600px;
      padding-bottom: 2rem;
    }
  }

  .about {
    display: flex;
    flex-direction: column;
    gap: $paragraph-spacing-large;
    align-items: flex-start;



    >h3 {
      color: $text-primary;
    }

    >p {
      color: $text-secondary;
    }

    &Leading {
      scroll-snap-align: start;
      padding-bottom: $paragraph-spacing-large;
      padding-top: $page-padding-large;
      min-height: 35vh;
      max-height: 35vh;
      justify-content: flex-end;
    }

    &Trailing {}
  }
}

@media (max-width: $width-large) {
  .landing {
    min-height: unset;

    .hero {
      min-height: 100vh;
    }

    .blurb {
      padding-bottom: 4rem;
    }
  }
}

@media (max-width: $width-default) {
  .landing {
    padding: 0px $page-padding-default;

    .hero {
      padding-top: $page-padding-default;
    }

    .blurb {
      padding-bottom: 10rem;
    }

    .about {
      &Leading {
        padding-top: $page-padding-default;
      }
    }
  }
}


@media (max-width: $width-compact) {
  .landing {
    padding: 0px $page-padding-compact;

    .hero {
      padding-top: $page-padding-compact;
    }

    .about {
      &Leading {
        padding-top: $page-padding-compact;
      }
    }
  }
}

@media (max-width: $width-small) {
  .landing {
    padding: 0px $page-padding-small;

    .hero {
      padding-top: $page-padding-small;
    }

    .blurb {
      padding-bottom: unset;
      min-height: 16.5vh;
      max-height: 16.5vh;
    }

    .about {
      gap: $paragraph-spacing-small;

      &Leading {
        padding-bottom: $paragraph-spacing-small;
        min-height: 26vh;
        max-height: 26vh;
      }
    }
  }
}

@media (max-width: $width-mobile) {
  .landing {
    padding: 0px $page-padding-mobile;

    .header {
      gap: .3rem
    }

    .hero {
      padding-top: $page-padding-mobile;
    }

    .blurb {
      min-height: 50vh;
    }

    .about {
      &Leading {
        min-height: 50vh;
        padding-top: $page-padding-mobile;
      }
    }
  }
}