@import '@styles/colors.module.scss';

$size: 750px;
$speed: 50s;
$easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.background {
  background-color: black;
  top: 0;
  left: 0;
  position: absolute;
z-index: -1;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gradient {
  width: 35%;
  height: 35%;
  filter: blur(calc(#{$size} / 5));
  background-image: linear-gradient(var(--foreground-primary), var(--accent-primary));
  animation: rotate #{$speed} #{$easing} alternate infinite;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  transition: all 0.5s ease-out;
}