@import '@styles/mixins.module.scss';
@import '@styles/colors.module.scss';

.viewer {
  height: min-content;

  &Content {
    display: flex;
    flex-direction: column;
    padding: 12px;
    gap: 16px;
  }
}


// experience.module.scss

.entry {
  margin-bottom: 32px; // Adjust spacing between entries as needed
  display: flex;
  flex-direction: column;
  gap: 16px;

  .header {
    display: flex;
    justify-content: space-between;

    .title {
      display: flex;
      flex-direction: column;
    }

    .dates {}
  }
}

.box {
  padding: 16px;

  &Content {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}