@import '@styles/mixins.module.scss';
@import '@styles/colors.module.scss';

.menu,
.page {
  @include retro-scrollbar;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  padding: 45px;

}

.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;

  overflow: auto;
}

.page {
  &FullScreen {
    z-index: 1;
  }
}

// Applying the backdrop
.backdrop {
  @include glowing-background;
  @include full-screen-positioning;
}

.scanlines {
  @include scanlines-effect;
  @include full-screen-positioning;
}

// .box {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   position: relative;
//   overflow: hidden;
// }

.animatedBorder {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  /* Prevent interaction with the border itself */
}

.content {
  position: relative;
  padding: 20px;
  background-color: #f0f0f0;
  width: 300px;
  height: 200px;
  /* Adjust dimensions here for testing */
}