@import './../../../styles/colors.module.scss';

.page {
  width: 100%;
}

.hero {
  composes: page;

  height: 60vh;

  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #000000 70%);
    z-index: 1;
  }

  >h1 {
    z-index: 1;
    font-size: 150px;
    line-height: 165px;
    color: $text-primary;
  }

  >h3 {
    z-index: 1;
    font-size: 62px;
    text-transform: uppercase;
    color: $text-secondary;
  }

  >img {
    position: absolute;
    max-height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.blurb {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  height: 50vh;

  >h2 {
    text-align: center;
    font-size: 50px;
    max-width: 650px;
  }

  >p {
    text-align: center;
    max-width: 850px;
  }
}

.scroller {
  composes: page;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 90px;
  padding: 32px 0px;

  &Carousel {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;

    >h3 {
      color: $text-secondary;
      text-transform: uppercase;
      font-size: 45px;
    }

    &Content {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 24px;
      padding: 0px 24px;
      // overflow: auto;

      &::-webkit-scrollbar {
        display: none;
        /* For WebKit browsers */
      }
    }
  }
}

.socials {
  composes: page;

  min-height: 225px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;

  >h3 {
    color: white;
    font-size: 32px;
  }

  >span {
    display: flex;
    gap: 40px;

    >svg {
      fill: white;
      height: 20px;
      width: 20px;
    }
  }
}

.job {
  $header-height: 120px;
  background-color: white;
  min-width: 930px;
  position: relative;
  height: 500px;
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  &Hidden {
    composes: job;
    opacity: 0;
  }



  &Modal {
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    height: 50%;
    min-height: 600px;
    min-width: 800px;
  }

  &Page {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    border-radius: 0px;

    .background {
      background-color: green;
      height: $header-height;
      top: 0;
    }

    .backgroundImage {
      >img {
        right: -100%;
        bottom: -100%;
        transform: scale(0.2);
      }
    }


    .header {
      .title {
        path {
          fill: white !important;
        }
      }

      .date {
        h3 {
          color: white;
        }
      }
    }

    .body {
      .title {
        >h1 {
          color: black;
        }

        >span {
          >h3 {
            color: black;
          }

          >svg {
            fill: black;
          }
        }
      }
    }
  }

  &Card {
    z-index: 0;

    .background {
      background-color: #F71953;
      bottom: 0;
      height: calc(100% - $header-height);
    }

    .backgroundImage {
      >img {
        right: -40px;
        bottom: -200px;
      }
    }

    .body {
      .title {
        >h1 {
          color: white;
        }

        >span {
          >h3 {
            color: white;
          }

          >svg {
            stroke: white;
          }
        }
      }
    }
  }

  .background {
    background-color: #F71953;
    position: absolute;
    width: 100%;
  }

  .header {
    z-index: 1;
    height: $header-height;
    flex-shrink: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 32px;

    .title {
      >svg {
        height: 72px;
        width: 360px;
      }
    }

    .date {
      white-space: nowrap;

      >h3 {
        transition: color 0.3s ease-in-out;
        font-size: 32px;
        line-height: 34px;
      }
    }
  }

  .body {
    z-index: 1;
    flex-grow: 1;
    width: 100%;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;

    .title {
      display: flex;
      flex-direction: column;
      gap: 4px;
      width: min-content;
      white-space: nowrap;

      >h1 {
        transition: color 0.3s ease-in-out;
        font-size: 50px;
        line-height: 55px;
      }

      >span {
        display: flex;
        width: min-content;
        white-space: nowrap;
        align-items: center;
        gap: 8px;

        >h3 {
          transition: color 0.3s ease-in-out;
        }

        >svg {
          transition: color 0.3s ease-in-out;
          height: 20px;
          width: 20px;
        }
      }
    }

    .blurb {}

    .responsibilities {}

    .skills {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: min-content;
      gap: 4px;

      >svg {
        height: 45px;
        width: 45px;

      }
    }
  }



  .backgroundImage {
    height: calc(100% - $header-height);
    position: absolute;
    width: 100%;
    overflow: hidden;
    bottom: 0;

    >img {
      z-index: 0;
      position: absolute;
    }
  }
}