@use '@styles'as styles;

.animatedLine {
  position: absolute;
  top: 0;
  left: 0;
  background-color: styles.$foreground-primary;
  background-color: var(--foreground-primary);

  // width: 0; // Default for vertical line (grows height by default)
  height: 0; // Default for vertical animation; height animates by default
  overflow: hidden;
}