@import '@styles/mixins.module.scss';
@import '@styles/colors.module.scss';

.animatedBorder {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.borderBox {
  position: relative;
}

.content {
  @include retro-scrollbar;
  height: 100%;
  overflow: auto;
}