@use '@styles'as styles;

.animatedBorder {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 2;
  stroke: styles.$foreground-primary;
  stroke: var(--foreground-primary);
}

.borderBox {
  position: relative;
}

.cssBorder {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-style: solid;
}

.content {
  @include styles.retro-scrollbar;
  height: 100%;
  overflow: auto;
}