@import './../../simple-homepage.module.scss';
@import './../simple-homepage-panels.module.scss';

.hero {
  composes: panel;
  height: 100%;
  // background-color: $background-primary;

  display: flex;
  align-items: center;
  justify-content: center;

  &Content {
    max-width: min-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    h3 {
      font-weight: 300;
      color: $text-tertiary;
    }

    h1 {
      text-wrap: nowrap;
      flex: 1;
      font-family: 'Nunito', sans-serif;
      font-weight: 800;
      line-height: 100px;
      font-size: 90px;

      &:first-of-type {
        color: $text-primary;
      }

      color: $text-secondary;
    }

    h2 {
      font-family: 'Nunito', sans-serif;
      font-weight: 800;
      line-height: 40px;
      font-size: 40px;


      color: $text-secondary;
    }

    p {
      font-family: 'Work Sans', sans-serif;
      color: $text-secondary;
    }
  }
}

.hiMyNameIs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  h3 {
    font-weight: 300;
    color: $text-tertiary;
  }
}

.iBuildUserInterfaces {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  h2 {
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    line-height: 40px;
    font-size: 40px;
    color: $text-secondary;
  }
}