@import "@styles/mixins.module.scss";
@import "@styles/colors.module.scss";
@import "@styles/typography.module.scss";
@import "@styles/layout.module.scss";


.page {
  @include text-colors;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; // Ensure the page takes up the full viewport height
  z-index: 2;

  display: flex;
  flex-direction: column;

  &Handheld {
    max-height: 100%;
  }

  &Disabled {
    pointer-events: none;
  }
}

.background {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.content {
  @include retro-scrollbar;
  @include page-padding-horizontal;
  scroll-snap-type: y mandatory;
  overflow: auto;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

  &FullScreen {
    z-index: 1;
  }

  &Inner {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}

.pageContents {
  @include unselectable;
  display: flex;
  flex-direction: column;
  gap: 16px;
}