@import "@styles/mixins.module.scss";
@import "@styles/colors.module.scss";
@import "@styles/typography.module.scss";

.sharedPageStyles {
  @include screen-text;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.page {
  @include screen-text;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; // Ensure the page takes up the full viewport height
  z-index: 2;

  display: flex;
  flex-direction: column;
}

.background {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.content {
  @include retro-scrollbar;
  overflow: auto;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;

  &FullScreen {
    z-index: 1;
  }

  &Inner {
    // height: 2000px;
    width: 100%;
    max-width: 1000px;
    // padding: 32px 0px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}

.pageContents {
  display: flex;
  flex-direction: column;
  gap: 16px;
}