@import './../../simple-homepage.module.scss';

$sider-bar-width: 4px;
$sider-bar-color: $background-secondary;
$sider-bar-padding-bottom: 64px;

.email,
.socials {
  position: relative;
  width: 100%;

  &:before {
    content: '';
    position: absolute;
    background-color: $sider-bar-color;
    top: 0px;
    left: 0;
    transform: translateX(50%);
    width: 50%;
    height: $sider-bar-width;

  }

  &Bar {
    width: $sider-bar-width;
    height: $sider-bar-padding-bottom;
    background-color: $sider-bar-color;
    bottom: 0;
  }
}

.email {
  background-color: beige;

  &Content {
    position: relative;
    width: 100%;
    background-color: green;
    height: 100%;
  }

  h3 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    -webkit-transform-origin-z: 2;
    width: 100%;
  }
}

.socials {
  &Buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &Entry {
    position: relative;
    z-index: 4;
    width: 100%;
    padding: 32px 0 8px 0px;
    // background-color: $background-primary;

    &:before {
      $gap: 32px;
      content: '';
      width: $sider-bar-width;
      height: calc(100% - $gap);
      left: 50%;
      bottom: $gap;
      background-color: $sider-bar-color;
      transform: translateX(-50%);
      position: absolute;
    }

    &Button {
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.2s ease-in-out;
      opacity: 0.6;

      &:hover {
        transform: translateY(-4px);
        opacity: 1;
      }
    }
  }
}