@import url('react-notion/src/styles.css');
@import url('prismjs/themes/prism-tomorrow.css');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  overflow: hidden;
  margin: 0px;
}

*{
  font-family: "Anonymous Pro", monospace;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
}

h1 {
  font-family: "Sansation Bold";
  margin: 0;
  color: white;
}

h2 {
  font-family: "Sansation Regular";
  margin: 0;
  color: white;
}

h3, p {
  font-family: "Anonymous Pro", monospace;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

h4 {
  margin: 0;
  font-family: "Sansation Bold";
}

p {
  color: rgb(111, 111, 111);
  font-size: 24px;
  line-height: 26px;
}

@font-face {
  font-family: "Sansation Bold";   /*Can be any text*/
  src: local("Sansation-Bold"),
    url("@assets/fonts/Sansation-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Sansation Regular";   /*Can be any text*/
  src: local("Sansation-Regular"),
    url("@assets/fonts/Sansation-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Sansation BoldItalic";   /*Can be any text*/
  src: local("Sansation-BoldItalic"),
    url("@assets/fonts/Sansation-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Sansation Italic";   /*Can be any text*/
  src: local("Sansation-Italic"),
    url("@assets/fonts/Sansation-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Sansation Light";   /*Can be any text*/
  src: local("Sansation-Light"),
    url("@assets/fonts/Sansation-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Sansation LightItalic";   /*Can be any text*/
  src: local("Sansation-LightItalic"),
    url("@assets/fonts/Sansation-LightItalic.ttf") format("truetype");
}
