
////////////////////////////////
//       Page Wrapper         //
////////////////////////////////

.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}


////////////////////////////////
//       Page Header          //
////////////////////////////////

.header {
  height: 100px;
  width: 100%;
  background-color: #292929;
  border-bottom: 4px solid #6c6c6c;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &:before {
    content: "";
    width: 100%;
    position: absolute;
    height: 64px;
    background: linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0) 100%);
    bottom: 4px;
  }
}

////////////////////////////////
//            Body            //
////////////////////////////////

.body {
  height: 100%;
  width: 100%;
  background-color: aliceblue;

  display: flex;
  align-items: center;
  justify-content: center;
}

////////////////////////////////
//          Footer            //
////////////////////////////////

.footer {
  height: 60px;
  background-color: #292929;
  width: 100%;
  position: relative;
  border-top: 4px solid #6c6c6c;
  display: flex;
  align-items: center;
  justify-content: center;

  &:before {
    content: "";
    width: 100%;
    position: absolute;
    height: 40px;
    background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0) 100%);
    top: 4px;
  }
}

////////////////////////////////
//          MEAT              //
////////////////////////////////

.text{
  display: flex;
  
  &__hero{
    color: black;
    // font-size: 200px;
  }
  
  &__header{
    color: red;
    margin-left: 32px;

  }
}

.letter{
   margin: 0px;
   font-size: 30px;
   text-transform: uppercase;
   
   &__hero{
     font-size: 100px;
   }
  
  &__header{
  }
}