@use '@styles'as styles;


.backdrop {
  @include styles.glowing-background;
  @include styles.full-screen-positioning;
  z-index: 1;
}

.scanlines {
  @include styles.scanlines-effect;
  @include styles.full-screen-positioning;
  z-index: 1;
}

.noAnimation {
  animation: none;
}